
<nav class="main-nav">
    <div class="main-nav-logo">
        <p>Food Test App</p>
    </div>

    <div class="main-nav-links">
       
        <ul>
            <li><a href="/restaurants">Restaurants</a></li>
            <li><a href="/locations">Locations</a></li>
            <!-- <li><a href="/reservations">Reservations</a></li> -->
            <li><a href="/order">Order Now</a></li>
        </ul>
    </div>

    <div class="main-nav-auth">
        <ul>
            <!-- if a current user is present, then we want to only show logout -->
            <% if (currentUser) { %> 
                <li><a href="/logout"><i class="fa-solid fa-user"></i> Logout</a></li>
            <!-- if there is no current user, then want to show login or register -->
            <% } else { %>        
                <li><a href="/login"><i class="fa-solid fa-user"></i> Login</a></li>
                <!-- <li><a href="/register">Register</a></li> -->
            <% } %>       
        </ul>
    </div>
</nav>