
<nav class="main-nav">
    <div class="main-nav-logo">
        <p>Food Test App</p>
    </div>

    <div class="main-nav-links">
       
        <ul>
            <li><a href="/restaurants">Restaurants</a></li>
            <li><a href="/locations">Locations</a></li>
            <li><a href="/reservations">Reservations</a></li>
            <li><a href="/order">Order Now</a></li>
        </ul>
    </div>
</nav>