<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home page</h1>
    <h2>all restaurants</h2>

    <p>Know a restaurant not on the list?</p>
    <a href="/restaurants/new">ADD IT NOW</a>
    <% for (restaurant of allRestaurants) { %>
        <h3><%= restaurant.name %></h3>
        <img src="<%= restaurant.img %>" alt="">
        <p><%= restaurant.dsc %></p>
        <p><%= restaurant.country %></p>
    <% } %> 
</body>
</html>