<%- layout('./layouts/boilerplate.ejs') %>
<title>Locations</title>
<link rel="stylesheet" href="/css/header.css">

<div id="home-header">
    <h2>LOCATIONS</h2>
</div>


<div class="work-in-progress">
    <p id="header">This page is work in progress!</p>
    <p id="text">Come back soon!</p>
    <img src="/imgs/hammer.png" alt="" id="image">
</div>