#home-grid-sidebar {
    display: flex;
    justify-content: center;
}

#side-bar {
    display: flex;
    width: 10%;
    height: 100vh;
}

#restaurant-grid {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
}

.restaurant-grid-element {
    display: flex;
    flex-direction: column;
    width: 20%;
    /* text-align: center; */
    margin: 5px;
}

.restaurant-grid-element img {
    height: 60%;
}

.restaurant-grid-element p {
    flex-grow: 1;
}

.restaurant-grid-element a {
    flex-grow: 1;
}

#home-header {
    height: 20vh;
    text-align: center;
}