#home-grid-sidebar {
    display: flex;
    justify-content: center;
}

#side-bar {
    display: flex;
    width: 10%;
    height: 100vh;
    flex-direction: column;
}

#restaurant-grid {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
}

.restaurant-grid-element {
    display: flex;
    flex-direction: column;
    width: 20%;
    /* text-align: center; */
    margin: 5px;
}

.restaurant-grid-element img {
    height: 60%;
    margin-bottom: 10px;
}

.restaurant-grid-element p {
    height: 10%;
}

.restaurant-grid-element a {
    height: 10%;
}

#home-header {
    height: 25vh;
    text-align: center;
}

.restaurant-name {
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    font-family: 'Space Mono', monospace;
    font-weight: 800;
}

#category-side-bar {
    display: flex;
    flex-direction: column;
}

#prices-side-bar {
    display: flex;
    flex-direction: column;
}

#rating-side-bar {
    display: flex;
    flex-direction: column;
}

