#home-grid-sidebar {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#side-bar {
    display: flex;
    width: 10%;
    height: 100vh;
    flex-direction: column;
}

#restaurant-grid {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
}

.restaurant-grid-element {
    display: flex;
    flex-direction: column;
    width: 20%;
    /* text-align: center; */
    margin: 5px;
}

.restaurant-grid-element img {
    height: 60%;
    margin-bottom: 10px;
}

/* .restaurant-grid-element p {
    height: 8%;
} */

.restaurant-grid-element a {
    height: 10%;
}

#home-header {
    height: 25vh;
    text-align: center;
    background: #252729;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Space Mono', monospace;
    color: white;
    font-size: 2rem;
}

.restaurant-name {
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    font-family: 'Space Mono', monospace;
    font-weight: 800;
}

.restaurant-dsc {
    height: 10%;
    font-size: 0.9rem;
}

.restaurant-country {
    height: 5%;
    font-size: 0.8rem
}

#category-side-bar {
    display: flex;
    flex-direction: column;
}

#prices-side-bar {
    display: flex;
    flex-direction: column;
}

#rating-side-bar {
    display: flex;
    flex-direction: column;
}

#side-bar {
    font-family: 'Space Mono', monospace;
}

#category-side-bar {
    margin-bottom: 30px;
    height: 40%;
}

#prices-side-bar {
    margin-bottom: 30px;
}

#rating-side-bar {
    margin-bottom: 30px;
}

.side-bar-header {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #decdcc;
}

.side-bar-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 2px;
    width: 90%;
    height: 100%;
    border-radius: 5px;
    padding-left: 10px;
}

.side-bar-link:hover {
    background-color: #f1f1f1;
}

.side-bar-input {
    display: flex;
    justify-content: space-between;
}

i {
    display: inline;
}

.rating-side-bar-stars {
    display: flex;
}

.fa-star {
    color: gold;
}

.side-bar-input {
    margin: 8px;
}

.rating-side-bar-stars {
    margin: 8px;
}

.rating-side-bar-link {
    text-decoration: none;
    color: black;
}

.rating-side-bar-link:hover {
    font-weight: bold;
}

.restaurant-new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Space Mono', monospace;
    margin-top: 50px;
}

.restaurant-new p {
    margin: 10px;
}
.restaurant-new a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin-bottom: 10px;
}

.restaurant-new a:hover {
  
    color: #bbb5b5;
    
}

.container {
    position: relative;
}

.tag-heart {
    /* position: absolute; */
    left: 10px;
    top: 10px;
}

.tag-shop {
    /* position: absolute; */
   
    left: 10px;
    top: 35px;
}

.tag-shape {
    border: solid 10px black;
    border-radius: 50%;
}



.tag-shape:hover {
    border-color: white;
}

.restaurant-grid-element img {
    position: static;
}

.display {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}