.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
}

.pagination-nums {
   box-shadow: 1px 5px 15px 5px #daddd9;
}
.pagination-nums, .pagination-button {
    font-family: 'Space Mono', monospace;
    margin: 5px;
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
}

.pagination-nums:hover {
    background: #f1f0f0;
    
}

.active {
    color: black;
    background: #f1f1f1;

}

.hidden {
    display: none;
}