<%- layout('./layouts/boilerplate.ejs') %>


<!-- form that renders a login -->
<!-- want to send the data to the route /login as a post request -->
<link rel="stylesheet" href="/css/login.css">
<div id="login-page">
    <div id="login-banner">
        <div id="login-image">
            <!-- <p>hiwad</p> -->
            <img src="/imgs/login_image.webp" alt="">
        </div>
        
        <div id="login-form">
            <form action="/login" method="post" class="actual-form">
        
                <div class="join-container">
                    <p id="join-header">JOIN WITH US</p>
                    <p id="join-create">Don't have an account? <a href="/register">Create an account</a></p>
                </div>
                
                <div class="username-container">
                    <label for="username">Username </label>
                    <input type="text" id="username" name="username" placeholder="Username">
                </div>
               
                <div class="password-container">
                    <label for="password">Password </label>
                    <input type="password" id="password" name="password" placeholder="&#128274; Password">
                </div>
                
                <div class="save-password-container">
                    <a href="/error">Forgot your password?</a>
            
                </div>
                
                <div class="login-button-container">
                    <button class="login-button">LOG IN</button>
                </div>
            </form>
        </div>
    </div>
</div>

